<div class="modal-overlay">
    <div class="modal-content">

        <h2>Task Nou</h2>

        <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">

            <div class="form-group">
                <label for="taskName">Nume Task:</label>
                <input id="taskName" type="text" formControlName="taskName" placeholder="Ex: Finalizare raport">
            </div>
            <div class="form-group">
                <label for="statusTypeId">Status:</label>
                <select id="statusTypeId" formControlName="statusTypeId">

                    @if (isLoadingStatusTypes()) {
                    <option value="" disabled selected>Se încarcă statusurile...</option>
                    } @else if (errorStatusTypes()) {
                    <option value="" disabled selected>{{ errorStatusTypes() }}</option>
                    } @else {
                    <option value="" disabled selected>Alege un status...</option>
                    @for (status of statusTypes(); track status.statusTypeId) {
                    <option [value]="status.statusTypeId">{{ status.statusName }}</option>
                    }
                    }

                </select>
            </div>

            <div class="form-group">
                <label for="userId">Asignat la:</label>
                <select id="userId" formControlName="userId">

                    @if (isLoadingUsers()) {
                    <option [ngValue]="0" disabled selected>Se încarcă utilizatorii...</option>
                    } @else if (errorUsers()) {
                    <option [ngValue]="0" disabled selected>{{ errorUsers() }}</option>
                    } @else {
                    <option [ngValue]="0" disabled selected>Alege un utilizator...</option>
                    @for (user of users(); track user.userId) {
                    <option [value]="user.userId">{{ user.username }}</option>
                    }
                    }

                </select>
            </div>

            <div class="form-group">
                <label for="dueDate">Termen limită:</label>
                <input id="dueDate" type="date" formControlName="dueDate">
            </div>

            <div class="modal-actions">

                <button type="submit" class="btn-submit" [disabled]="taskForm.invalid">Salvează</button>
            </div>

        </form>

    </div>
</div>